body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-slanted {
    font-family: 'Courgette', cursive;
}

.text-dancing {
    font-family: 'Dancing Script', cursive;
}

.accent {
    color: #ff4081;
}

.bg-accent {
    background: #ff4081;
}